<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Bartender software suite</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

    <style>
    body { /* fixed navbar */
        padding-top: 70px;
    }
    </style>
</head>
<body role="document">

<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
    <div class='container'>
        <div class='navbar-header'>
            <button
                type='button'
                class='navbar-toggle collapsed'
                data-toggle='collapse'
                data-target='#navbar'
                aria-expanded='false'
                aria-controls='navbar'
            >
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'>Home</a>
        </div>
        <div id='navbar' class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                {% for subpage, title in [('primerselect', 'PrimerSelect'), ('about_page', 'About')] %}
                <li class='nav-item {{ 'active' if request.path == url_for(subpage) }}'>
                    <a href='{{ url_for(subpage) }}'>{{ title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<main class="container theme-showcase">
{% block content %}{% endblock %}
</main>

</body>
</html>
