

<div role='tabpanel'>
    <ul class='nav nav-tabs' role='tablist'>
        <li role='presentation' class='active'><a href='#GAPDH' role='tab' data-toggle='tab'>GAPDH</a></li>
        <li role='presentation'><a href='#ACTB' role='tab' data-toggle='tab'>ACTB</a></li>
    </ul>
    <div class='tab-content'>
        <div style='white-space: pre-wrap;' role='tabpanel' class='tab-pane active' id='GAPDH'><br><img src="/static/figures/p3seq/GAPDH_1718678305.png"><br>
            ---------
            <table style='width:100%'><tr><td>Fwd 0:</td><td>GAAGGTGAAGGTCGGAGTCA</td>
                <td> Position: 6 - 26</td><td>Length: 20</td>
                <td>Tm: 59.033</td><td>GC%: 55.0</td>
                <td>Any: 0.0</td><td>Self: 0.0</td>
            </tr><td>Fwd 1:</td><td>CTGGCGTCTTCACCACCA</td>
                <td> Position: 296 - 314</td><td>Length: 18</td>
                <td>Tm: 59.574</td><td>GC%: 61.111</td>
                <td>Any: 0.0</td><td>Self: 0.0</td></tr>
                <td>Fwd 2:</td><td>GCATCCTGGGCTACACTGA</td>
                <td> Position: 815 - 834</td><td>Length: 19</td>
                <td>Tm: 59.092</td><td>GC%: 57.895</td><td>Any: 0.0</td><td>Self: 0.0</td></tr></table><br>

            <table style='width:100%'><tr><td>Rev 0:</td><td>TGACAAGCTTCCCGTTCTCA</td><td> Position: 205 - 205</td>
                <td>Length: 20</td><td>Tm: 59.244</td><td>GC%: 50.0</td>
                <td>Any: 0.0</td><td>Self: 0.0</td></tr><td>Rev 1:</td>
                <td>CCAGTGAGCTTCCCGTTCA</td><td> Position: 689 - 689</td>
                <td>Length: 19</td><td>Tm: 59.629</td><td>GC%: 57.895</td>
                <td>Any: 0.0</td><td>Self: 0.0</td></tr></table>
            <br></div>
        <div class='alert alert-warning' role='alert'>No right primer found in range 970 - 1009</div>
        <div style='white-space: pre-wrap;' role='tabpanel' class='tab-pane' id='ACTB'><br><img src="/static/figures/p3seq/ACTB_3769112404.png"><br>
        ---------
        <table style='width:100%'><tr><td>Fwd 0:</td><td>TTCAACACCCCAGCCATGTA</td><td> Position: 379 - 399</td><td>Length: 20</td><td>Tm: 59.226</td><td>GC%: 50.0</td><td>Any: 0.0</td><td>Self: 0.0</td></tr><td>Fwd 1:</td><td>AAGACCTGTACGCCAACACA</td><td> Position: 872 - 892</td><td>Length: 20</td><td>Tm: 59.533</td><td>GC%: 50.0</td><td>Any: 0.0</td><td>Self: 0.0</td></tr></table><br>

        <table style='width:100%'><tr><td>Rev 0:</td><td>TTGTAGAAGGTGTGGTGCCA</td><td> Position: 275 - 275</td><td>Length: 20</td><td>Tm: 59.159</td><td>GC%: 50.0</td><td>Any: 0.0</td><td>Self: 0.0</td></tr></table><br></div>
        <div class='alert alert-warning' role='alert'>No left primer found in range 1 - 39; No right primer found in range 720 - 760; No right primer found in range 1090 - 1129</div></div>
</div>
<script>
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>

<br>

</div>