{% extends "base.html" %}
{% block title %}PrimerSelect{% endblock %}
{% block content %}
<div class="page-header">
    <h1>PrimerSelect</h1>
    <p>PrimerSelect predicts optimal primer sets for Bart-Seq technology. Paste target genes into Input Sequence Form in order to get primer pair predictions.
    Computation might take a short moment, while page is not responsive.</p>
</div>

{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

<form class="form-horizontal" method="POST" action="/primerselect" enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.input.label }}
        {{ form.input(rows=15) }}
    </div>
    <div class="row">
        {% if form.input.errors %}
        <div class="alert alert-danger" role="alert">
            <ul class="errors">
                {% for element_error in form.input.errors %}
                <li>{{ element_error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.predefined.label }}
        {{ form.predefined(rows=8) }}
    </div>
    <div class="row">
        {% if form.predefined.errors %}
        <div class="alert alert-danger" role="alert">
            <ul class="errors">
                {% for element_error in form.predefined.errors %}
                <li>{{ element_error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.blast_db.label }}
        {{ form.blast_db(class_='col-sm-4') }}
        {{ form.blast_hits.label }}
        {{ form.blast_hits(class_='col-sm-4') }}
    </div>
    <div class="row">
        {% if form.blast_hits.errors %}
        <div class="alert alert-danger col-sm-12" role="alert">
            <ul class="errors">
                {% for element_error in form.blast_db.errors %}
                <li>{{ element_error }}</li>
                {% endfor %}
                {% for element_error in form.blast_hits.errors %}
                <li>{{ element_error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.left_linker.label }}
        {{ form.left_linker(class_='col-sm-4') }}
        {{ form.right_linker.label }}
        {{ form.right_linker(class_='col-sm-4') }}
    </div>
    <div class="row">
        {% if form.left_linker.errors %}
        <div class="alert alert-danger" role="alert">
            <ul class="errors">
                {% for element_error in form.left_linker.errors %}
                <li>{{ element_error }}</li>
                {% endfor %}
            </ul>
            <ul class="errors">
                {% for element_error in form.right_linker.errors %}
                <li>{{ element_error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.configuration.label }}
        {{ form.configuration() }}
        {% if form.configuration.errors %}
    </div>
    <div class="row">
        <div class="alert alert-danger" role="alert">
            <ul class="errors">
                {% for element_error in form.configuration.errors %}
                <li>{{ element_error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <button type="submit" id="startButton" class="btn btn-primary">
        Start analysis
    </button>
</form>

{% if pretty_output %}
{{ pretty_output }}
{% endif %}

{% if output %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Show text output
</button>

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Text output</h4>
            </div>
            <div class="modal-body">
                <p style="white-space: pre-wrap;">
                    {{ output }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
